.explore-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  min-height: 90vh;
  margin: 6rem 0;
}

.explore-left {
  width: 50%;
  height: 70vh;
  position: relative;
}

.explore-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.explore-title {
  font-size: 2.5rem;
}

.explore-para {
  color: #a5a5a5;
  font-weight: 600;
  line-height: 1.8rem;
}

.categories {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .category {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--primary);
    gap: 1rem;
  }
  
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    color: var(--secondary);
  }