@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("../navbar.css");
@import url("../hero.css");
@import url("../card.css");
@import url("../explore.css");
@import url("../status.css");
@import url("../footer.css");
@import url("../gallery.css");
@import url("../popular.css");
@import url("../newsLetter.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #292d2d;
  --secondary: #ff8e4f;
  --tertiary: #1eaeff;
}

html,
body {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

li {
  all: unset;
}

.mobile-dropdown {
  display: none;
}

.company-logo {
  width: 10rem;
}

input {
  all: unset;
  padding: 1.5rem;
  width: 70%;
  font-weight: bold;
}

button {
  all: unset;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--tertiary);
}

@media screen and (max-width: 1024px) {
  /* Hero */
  .hero-container {
    min-height: 60vh;
  }
  .hero-text {
    width: 100%;
  }
  .search-container {
    width: 100%;
    position: relative;
  }
  .search-inform-container {
    padding: 0.9rem 2rem;
    gap: 1rem;
  }
  .search-title {
    font-size: 0.7rem;
  }
  .search-data-title {
    font-size: 0.9rem;
  }
  .circle {
    padding: 13rem;
    top: 10px;
    left: 10%;
  }

  /* Card */
  .cards-container {
    gap: 1rem;
  }
  .card-container {
    width: 31%;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-loca-text {
    font-size: 0.8rem;
  }

  /* Status Card */
  .categories {
    width: 80%;
  }
  .status-card {
    height: 12rem;
  }

  /* Footer */
  .footer-left {
    width: 30%;
  }
  .footer-right {
    width: 70%;
    gap: 2rem;
  }
  .footer-list-contianer {
    width: 40%;
  }

  /* Newsletter */
  .input-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  /* All */
  .hero-left,
  .hero-right,
  .explore-left,
  .explore-right,
  .footer-right,
  .footer-left {
    width: 100%;
  }

  /* Hero */
  .hero-text {
    width: 70%;
  }
  .hero-container {
    flex-direction: column;
    align-items: start;
    margin: 3rem 0;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    height: 280px;
  }
  .search-inform-container {
    flex-direction: column;
    align-items: start;
    padding: 1rem;
  }
  .search-inform {
    width: 100%;
  }
  .divider {
    height: 0.1rem;
    width: 100%;
  }
  .circle {
    padding: 14rem;
    top: 0;
    left: 25%;
  }

  /* Nav */
  .menu-container {
    display: none;
  }
  .mobile-menubar {
    display: flex;
    font-size: 2rem;
    color: var(--primary);
  }

  /* Card */
  .cards-container {
    justify-content: space-between;
    gap: 1.5rem 0;
  }
  .card-container {
    width: 48%;
  }

  .mobile-view {
  display: flex;
  justify-content: center;

  }
  /* Explore */
  .explore-container {
    flex-direction: column-reverse;
  }
  .mobile-dropdown {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: -3px 14px 52px -13px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -3px 14px 52px -13px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -3px 14px 52px -13px rgba(0, 0, 0, 0.2);
  }

  /* Status */
  .categories {
    width: 80%;
  }
  .container {
    gap: 1rem;
  }
  .status-card {
    width: 48%;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
  }
  .input-container {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .circle {
    left: 5%;
  }
}

@media screen and (max-width: 500px) {
  /* All */
  .card-container,
  .status-card,
  .input-container {
    width: 100%;
  }
  input {
    width: 60%;
  }

  /* Nav */
  .logo {
    font-size: 1.5rem;
  }
  .button {
    padding: 0.5rem 2rem;
  }

  /* Hero */
  .hero-text {
    width: 100%;
    font-size: 4rem;
  }
  .circle {
    padding: 12rem;
    left: -25px;
  }

  /* Gallery */
  .gallery-header {
    flex-direction: column;
    gap: 1rem;
  }

  /* Newslettter */
  .newsletter-title {
    font-size: 1.5rem;
  }

  /* Footer */
  .footer-right {
    width: 100%;
    flex-direction: column;
  }
  .footer-list-contianer {
    width: 100%;
  }
  .section-subtitle {
    font-size: 0.6rem;
  }
  .company-logo {
    width: 6rem;
  }
}

@media screen and (max-width: 400px) {
  .circle {
    padding: 10rem;
    top: 20%;
    left: 5%;
  }
}
