.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.status-card {
  width: 20%;
  height: 15rem;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary);
}

.status-word {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--primary);
}
